:root{
  /* COLOR PALETTE */
  --maincolor : #1C3C54;
  --secondary: #1D6665;
  --whitespace: #E6FFFE;
  --hintcolor: #6E8BA3;
}

body {
    margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: var(--whitespace);
  background-color: var(--secondary);
}

h1 {
  font-family: "Montserrat", cursive;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
}
h1, h2{
    color: var(--whitespace);
}
h3, a{
    color: var(--whitespace);
}
p{
    line-height: 1.35;
}
.top-container {
  background-color: var(--secondary);
  position: relative;
  padding-top: 75px;
  background-image: url("/img/background.jpg");
  opacity: 1;
  background-position: center;
}

.heading-text{
  padding-bottom: 100px;
  
}
.profile img {
  padding-top: 10px;
    width: 250px;
}
.hello-text{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.skill-row1 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row2 {
  width: 50%;
  margin: 100px auto;
  text-align: right;
  line-height: 2;
}
.frontend-img{
    width:25%;
    float: left;
    margin-right: 30px;
}
.backend-img{
    width:25%;
    float: right;
    margin-left: 30px;
}
.frontend-desc ul{
    display: inline-block;
}
.backend-desc ul{
  display: inline-block;
  padding-bottom: 50px;
}
.backend-desc ul li {
  text-align: left;
}
hr {
    height: 0px;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    width: 20%;

}
.bottom-container {
    background-color: #66BFBF;
    padding-top: 50px;
    margin-top: 60px;
    
    
}
.bottom-container p{
    color: #EAF6F6;
    margin: 25px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 45px;
}
.bottom-container a{
    color: var(--whitespace);
    text-decoration: none;
    padding: 20px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.contact-me p {
    margin: 75px auto;
}