<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexBox App Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app-wrap">
        <header class="app-header">
            <a href="#" class="button">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
            <h1>Jilbao</h1>
            <a href="#" class="button">
                <i class="fa fa-cog"></i>
            </a>
        </header>

        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, libero commodi! Cum laudantium modi asperiores veritatis aspernatur, mollitia corporis fugiat est laborum quae explicabo eaque, neque velit. Error, ut numquam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nesciunt ab rerum atque, minus alias? Placeat blanditiis deserunt non nulla perferendis, vitae labore vero, commodi culpa fugiat nisi tenetur nam? </p>
            <img src="../../../img/main-img.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero cumque accusamus ratione iusto unde, neque totam, doloribus, blanditiis debitis culpa quia ipsum soluta optio. A enim cumque numquam. At.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero cumque accusamus ratione iusto unde, neque totam, doloribus, blanditiis debitis culpa quia ipsum soluta optio. A enim cumque numquam. At.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero cumque accusamus ratione iusto unde, neque totam, doloribus, blanditiis debitis culpa quia ipsum soluta optio. A enim cumque numquam. At.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero cumque accusamus ratione iusto unde, neque totam, doloribus, blanditiis debitis culpa quia ipsum soluta optio. A enim cumque numquam. At.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero cumque accusamus ratione iusto unde, neque totam, doloribus, blanditiis debitis culpa quia ipsum soluta optio. A enim cumque numquam. At.</p>
        </div>
        <div class="icon-bar">
            <a href="#">
                <i class="fa fa-home"></i>
                Home
            </a>
            <a href="#">
                <i class="fa fa-bell"></i>
                Notifications
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                Messages
            </a>
            <a href="#">
                <i class="fa fa-user"></i>
                Me
            </a>
        </div>
    </div>
</body>
</html>