<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    
    <title>Document</title>

</head>
<body>
    <div class="wrapper">
        <header class="top">
            <h1><a href="#">Jilbao</a></h1>
        </header>
        <nav class="flex-nav">
            <a href="#" class="toggleNav">Menu</a>
            <ul>
                <li><a href="#">1 item</a></li>
                <li><a href="#">2 item</a></li>
                <li><a href="#">3 item</a></li>
                <li><a href="#">4 item</a></li>
                <li><a href="#">5 item</a></li>
                <li><a href="#">6 item</a></li>
                <li class="social"><a href="#"><i class="fa-brands fa-github"></i></a></li>
                <li class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="social"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="social"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </nav>
        <section class="hero">
            <img src="../../img/main-img.png">
        </section>
        
        <section class="details">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque id animi nemo quibusdam eius officia doloremque voluptatum. Eos quis expedita reprehenderit ipsum perspiciatis adipisci, quasi, exercitationem veniam maxime tempore rem.</p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente assumenda, temporibus quisquam corrupti maxime, amet quam odit, obcaecati incidunt unde molestias sit voluptatum quae eveniet tempora. Blanditiis voluptatum natus et?</p>
        </section>
        
        <section class="signup">
            <form action="" class="signup">
                <input type="text" placeholder="Your Name" name="" id="">
                <input type="email" placeholder="E-mail Address" name="" id="">
                <input type="submit" value="Sign me up!" name="" id="">
            </form>
        </section>

        <footer>
            <p>&copy; Jilbao</p>
        </footer>
        
    </div>
</body>
<script type="text/javascript" src="./togglenav.js"></script>
</html>